<div class="col-md-8 offset-md-2  p-5 userUpdateDiv">
  <div class="text-center">
    <i class="bi bi-person-circle"></i>
      <h5>{{ userName + ' ' + userLastName }}</h5>
      <p class="mb-5 text-muted">Merci de remplir le formulaire ci dessous avant de valider.</p>
  </div>

  <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{ alert }}</strong> 
    <button type="button" id="alertCloser" (click)="closeAlert()" class="btn btn-default">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <form [formGroup]="userAccountUpdate" (ngSubmit)="onUpdate()">
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <div class="input-group">
              <div class="input-group-text"><span class="bi bi-person"> </span></div>
                <input type="text" id="nom"  formControlName="nom" placeholder="Nom" class="form-control" />
              </div>
          </div>
          <div *ngIf="userAccountUpdate.controls['nom'].invalid && (userAccountUpdate.controls['nom'].dirty || userAccountUpdate.controls['nom'].touched)">
            <div *ngIf="userAccountUpdate.controls['nom'].errors?.['required']" class="text-danger">
              <span>*Obligatoire.</span>
            </div>
            <div *ngIf="userAccountUpdate.controls['nom'].errors?.['maxlength']" class="text-danger">
              <span>*Taille plus que 12 caractére.</span>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <div class="input-group">
              <div class="input-group-text"><span class="bi bi-person"> </span></div>
              <input type="text" id="prenom" formControlName="prenom" placeholder="Prénom" class="form-control" />
            </div>
          </div>
          <div *ngIf="userAccountUpdate.controls['prenom'].invalid && (userAccountUpdate.controls['prenom'].dirty || userAccountUpdate.controls['prenom'].touched)">
            <div *ngIf="userAccountUpdate.controls['prenom'].errors?.['required']" class="text-danger">
              <span>*Obligatoire.</span>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row mb-4">
          <div class="col-6">
            <div class="form-outline">
              <div class="input-group">
                <div class="input-group-text"><span class="bi bi-geo-alt"> </span></div>
                  <input type="text" id="adresse" formControlName="adresse" placeholder="Adresse" class="form-control" />
              </div>
            </div>
            <div *ngIf="userAccountUpdate.controls['adresse'].invalid && (userAccountUpdate.controls['adresse'].dirty || userAccountUpdate.controls['adresse'].touched)">
              <div *ngIf="userAccountUpdate.controls['adresse'].errors?.['required']" class="text-danger">
                <span>*Obligatoire.</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
                <input type="text" id="cp" formControlName="cp" placeholder="Code postal" class="form-control" />
            </div>
            <div *ngIf="userAccountUpdate.controls['cp'].invalid && (userAccountUpdate.controls['cp'].dirty  || userAccountUpdate.controls['cp'].touched)">
              <div *ngIf="userAccountUpdate.controls['cp'].errors?.['pattern']" class="text-danger">*Accepte que des numéros.</div>
              <div *ngIf="userAccountUpdate.controls['cp'].errors?.['required']" class="text-danger">*Obligatoire.</div>
            </div>
          </div>
          <div class="col">
              <div class="form-outline">
                  <input type="text" id="ville" formControlName="ville" placeholder="Ville" class="form-control" />
              </div>
              <div *ngIf="userAccountUpdate.controls['ville'].invalid && (userAccountUpdate.controls['ville'].dirty  || userAccountUpdate.controls['ville'].touched)">
                <div *ngIf="userAccountUpdate.controls['ville'].errors?.['required']" class="text-danger">*Obligatoire.</div>
              </div>
            </div>
      </div>
  
      <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <div class="input-group">
                  <div class="input-group-text">Fonction</div>
                  <select class="form-select" formControlName="fonction" id="fonction">
                    <option value="Developpeur">Developpeur</option>
                    <option value="Designer">Designer</option>
                    <option value="Ingenieur FullStack">Ingenieur FullStack</option>
                    <option value="Responsable Informatique">Responsable Informatique</option>
                  </select>
                </div>
              </div>
              <div *ngIf="userAccountUpdate.controls['fonction'].invalid && (userAccountUpdate.controls['fonction'].dirty  || userAccountUpdate.controls['fonction'].touched)">
                <div *ngIf="userAccountUpdate.controls['fonction'].errors?.['required']" class="text-danger">*Obligatoire.</div>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <div class="input-group">
                  <div class="input-group-text"><span class="bi bi-envelope-fill"> </span></div>
                    <input type="email" id="email" formControlName="email" placeholder="email" class="form-control" />
                  </div>
              </div>
              <div *ngIf="userAccountUpdate.controls['email'].invalid && (userAccountUpdate.controls['email'].dirty  || userAccountUpdate.controls['email'].touched)">
                <div *ngIf="userAccountUpdate.controls['email'].errors?.['required']" class="text-danger">*Obligatoire.</div>
                <div *ngIf="userAccountUpdate.controls['email'].errors?.['email']" class="text-danger">*email invalide.</div>
              </div>
            </div>
      </div>
      
      <div class="row  mb-4">
        <div class="form-outline">
          <div class="input-group">
              <div class="input-group-text"><span class="fi fi-ma"> </span>&nbsp;+212</div>
              <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="000 000000" />
          </div>
        </div>
        <div *ngIf="userAccountUpdate.controls['phone'].invalid && (userAccountUpdate.controls['phone'].dirty  || userAccountUpdate.controls['phone'].touched)">
          <div *ngIf="userAccountUpdate.controls['phone'].errors?.['pattern']" class="text-danger">*Accepte que des numéros.</div>
          <div *ngIf="userAccountUpdate.controls['phone'].errors?.['required']" class="text-danger">*Obligatoire.</div>
        </div>
      </div>
      
      <button type="submit" [disabled]="!userAccountUpdate.valid" class="btn btn-block mb-4 enregistrer"><i class="bi bi-save"></i> Enregistrer</button>
      <button type="button" (click)="deleteUser()" class="btn btn-warning btn-block mb-4 mx-2 delete"><i class="bi bi-x"></i> Supprimer</button>
    </form>
  </div>
  
  